/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2019, 3:54:21 PM
    Author     : jess
*/
#grid{
    -fx-background-color: #ddd;
    -fx-padding: 20 20 20 20;
    
}
#mainTitle{
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-fill: #333;
    -fx-padding: 10 10 10 0;
    -fx-height: 25;
}
#partsTitle{
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 0 115 0 0;
}
#partsTable{
    -fx-font-family: "Helvetica";
    -fx-font-size: 9;
}
#prodTitle{
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 0 95 0 0;
}
#prodTable{
    -fx-font-family: "Helvetica";
    -fx-font-size: 9;
}
VBox{
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-border-color: #999;
    -fx-border-radius: 5;
}
#exitBtn{
    
    -fx-column-halignment: right;
}
#partsHBox{
    -fx-alignment: bottom-right;
    -fx-spacing: 10;
}
#prodHBox{
    -fx-alignment: bottom-right;
    -fx-spacing: 10;
}
#exitHBox{
    -fx-alignment: bottom-right;
    -fx-spacing: 10;
    -fx-padding: 15;
}
.table-view .column-header .label {
    -fx-alignment: center-left;
}
#searchPartBtn{
    -fx-padding: 0;
}
#searchProdBtn{
    -fx-padding: 0;
}